<%- include('../partials/header') %>

<body class="billsPage">
  <section class="billPageJumbo jumbotron text-center">
    <div class="container">
      <p>
        <a class="btn btn-primary my-2 btn-style-one billAddButton">Add Bill</a>
      </p>
    </div>
  </section>

  <div class="container billImgsContainer">
    <div class="row">
      <% foundBills.forEach(function(bill){ %>
      <div class="col-md-4">
        <div class="card mb-4 text-right billSheetsContainer cardSheets">
          <div class="card-body">
            <% let date= JSON.stringify (bill.created_at); let counter= 0;%> <%if(bill.created_at){%>
            <div class="row">
              <div class="col-lg-4 col-md-5 col-sm-4">
                <div class="text-left">
                  <div class="btn-group">
                    <form action="/bills/<%=bill._id%>/update" method="get">
                      <button class="btn util-btn billFormButtons">U</button>
                    </form>
                    <form action="api/bills/<%=bill._id%>" class="delBillForm">
                      <button type="submit" class="btn util-btn-del util-btn billFormButtons">D</button>
                    </form>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-5 col-sm-4">
                <h6>
                  <span class="billCardDateHeader">Hour: </span>
                  <span class="billCardFooter"><%= date.substring(12,17)%></span>
                </h6>
              </div>
              <div class="col-lg-4 col-md-5 col-sm-4">
                <h6>
                  <span class="billCardDateHeader">Date: </span>
                  <span class="billCardFooter"><%= date.substring(1,11)%></span>
                </h6>
              </div>
            </div>
            <%}%>
            <ul class="billsSheetsList list-group list-group-flush mb-1">
              <%bill.billProducts.forEach(function(billProduct){%>
              <div class="card-desc-items">
                <li class="list-group-item cardList"><h8> Product :</h8> <%= billProduct.name %></li>
                <li class="list-group-item cardList"><h8>Number of items :</h8> <%= billProduct.number %></li>
                <li class="list-group-item cardList">
                  <h8>Price : </h8> <%= (billProduct.price*1)*billProduct.number %> EGP
                </li>
              </div>
              <%})%>
              <button class="btn btn-sm text-center billFullpriceButton" disabled>
                Total price : <%=bill.priceSum%> EGP
              </button>
            </ul>
          </div>
        </div>
      </div>

      <% }) %>
    </div>
    <%- include('../partials/footer') %>
  </div>
</body>
