<%- include('../partials/header') %>
<body class="billFormPages updateBillFormPage">
  <section class="billFormsPageJumbo jumbotron text-center">
    <h1 class="billFormsPageTitle">Update bill</h1>
    <form action="api/bills/<%=foundBill._id%>" class="formClass updateBillForm">
      <div class="billContainer billUpdateContainer container">
        <% foundBill.billProducts.forEach(function(billProduct){ %>
        <div class="form-row billFormsForm">
          <div class="form-group">
            <label class="billFormsInputLabel">Product price</label>
            <input class="form-control text-right price" type="number" name="price" value="<%=billProduct.price%>" />
          </div>
          <div class="form-group">
            <label for="cars" class="billFormsInputLabel">Product name</label>
            <select class="form-control text-right name" type="text" name="billName">
              <option value="<%=billProduct.name%>"><%=billProduct.name%></option>
              <% foundProducts.forEach(function(foundProduct){ if(foundProduct.name!==billProduct.name) { %>
              <option value="<%=foundProduct.name%>"><%=foundProduct.name%></option>
              <% }}) %>
            </select>
          </div>
          <div class="form-group">
            <label class="billFormsInputLabel">Number of items</label>
            <input class="form-control text-right number" type="number" name="number" value="<%=billProduct.number%>" />
          </div>
          <div class="form-group">
            <label class="billFormsInputLabel">Delete product</label>
            <button
              class="form-control btn btn-danger delBillProductButton"
              type="button"
              delBillProductURL="api/billProducts/<%=billProduct._id%>"
            >
              Delete
            </button>
          </div>
          <div class="form-group" style="display: none">
            <input
              class="form-control text-right billProductId"
              type="text"
              name="billProductId"
              value="<%=billProduct._id%>"
            />
          </div>
        </div>
        <% }) %>
      </div>
      <div>
        <button type="submit" class="btn btn-primary billProductsSubmitButtons">Update</button>
        <button class="btn btn-primary addBillProductsButton" type="button">Add</button>
      </div>
    </form>
  </section>

  <%- include('../partials/footer') %>
</body>
